.button {
  position: relative; /* Necessário para o posicionamento do ::before */
  width: 80%;
  height: 40px;
  padding: 12px;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(90deg, #2196F3 0%, #9C27B0 100%);
  border-radius: 9999px; /* Botão "pill-shaped" */
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s ease;
}

.button:hover {
  background: linear-gradient(90deg, #2196F3 0%, #9C27B0 100%);
  box-shadow: 0 0 30px 5px rgba(33, 150, 243, 0.5);
  transition: all 0.2s ease-out;
}

/* Pseudo-elemento para efeito de destaque */
.button::before {
  content: '';
  display: block;
  width: 0;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  transform: skewX(-20deg);
}

.button:hover::before {
  animation: sh02 0.5s linear;
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}

.button:active {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in;
}

/* Media Query: telas maiores terão botão menor */
@media (min-width: 1024px) {
  .button {
    width: 70%; /* altura menor */
    padding: 8px; /* padding reduzido */
    font-size: 0.875rem; /* opcional: fonte um pouco menor */
  }
}

.hideDefaultPasswordIcons :global(input[type="password"]::-ms-reveal),
.hideDefaultPasswordIcons :global(input[type="password"]::-ms-clear) {
  display: none !important;
}

.hideDefaultPasswordIcons :global(input[type="password"]) {
  -webkit-appearance: none !important;
  appearance: none !important;
}
