
/* ======================================= */
/* Contêiner da tabela */
/* ======================================= */
.container {
  border: 1px solid #ddd;
  border-radius: var(--borderRadius);
  overflow: auto; /* Permite scroll interno */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff; /* Garante contraste */
  height: 100%; /* Faz o contêiner preencher o pai */
  max-width: 100%; /* Para mobile, ajuda no ajuste de largura */
  margin: 0 auto;
}

/* ======================================= */
/* Tabela */
/* ======================================= */
.table {
  width: 100%; /* Preenche a largura do contêiner */
  border-collapse: collapse;
  table-layout: auto; /* Ajuste automático das colunas */
}

/* Cabeçalho e células */
.table th,
.table td {
  padding: 10px;
  min-width: 50px;
  border: 1px solid #ddd;
  text-align: left;
  vertical-align: middle; /* Melhor alinhamento vertical */
}


.table thead th {
  position: sticky; /* Fixa o cabeçalho */
  top: 0; /* Fixa no topo do contêiner */
  background-color: var(--corPrincipal); /* Fundo para contraste */
  color: #f9f9f9;
  font-weight: 600;
  z-index: 1; /* Garante sobreposição */
  height: 45px;
  text-transform: uppercase; /* Destaque no texto */
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
}

.table td {
  background-color: #fff;
}

/* Linhas vazias ou mensagem de "vazio" */
.table .empty {
  text-align: center;
  font-style: italic;
  color: #888;
  padding: 15px; /* Espaçamento adequado */
}

.tbody tr{
  cursor: pointer; /* Adiciona o cursor de "mãozinha" a todas as linhas */
}
/* Hover nas linhas */
.table tr:hover td {
  background-color:#7c7c7c47;
  transition: background-color 0.3s ease;
}

/* ======================================= */
/* Responsividade */
/* ======================================= */
@media (max-width: 768px) {
  
  .table th,
  .table td {
    padding: 8px;
    font-size: var(--fontSizeMobile);
  }

  .table thead th {
    height: 40px;
  }
}

/* Se quiser ajustar ainda mais para telas muito pequenas */
@media (max-width: 480px) {
  .table th,
  .table td {
    padding: 6px;
    font-size: var(--fontSizeMobile);
  }
}
