/* styles/Components/Button.module.css */
.buttonGeral {
    padding: 10px;
    border: 1px solid var(--corPrincipal);
    color: var(--corPrincipal);
    border-radius: var(--borderRadius);
    cursor: pointer;
    transition: background-color 0.2s;
    width: 40px;
    height: 35px;
    background-color: white;
    transition: all 0.2s ease-in-out;
  }
  
  .buttonGeral:hover {
    background-color: #DCDFE5;
    transform: scale(1.05);
  }
  